<ion-view>
    <ion-nav-title>
        <h3 id="hometitle">AVIS</h3> </ion-nav-title>
    <ion-content scroll="false" ng-controller="HomeCtrl">
        <div class="row row-bottom" id="searchrow">
            <div class="col col-offset-20 col-60">
                <p><h4 class="title">START A RESERVATION</h4></p>
                <a href="#/locsearch" id="searchdiv">
                    <label class="item item-input trans">
                        <input type="text" placeholder="Enter pick-up location">
                        <button class="button button-small button-clear button-dark icon-right ion-navigate " id="searchbutton"></button>
                    </label>
                </a>
            </div>
        </div>
    </ion-content>
</ion-view>
