<ion-view>
    <ion-nav-title>
        <h3>Search a location</h3> </ion-nav-title>
    <ion-content scroll="true" ng-controller="locsearchCtrl">
        <div class="row list">
            <div class="col col-offset-5 col-95">
                <label class="item item-input trans">
                    <input type="text" placeholder="Enter pick-up location" ng-model="outloc" ng-model-options="{debounce: 1000}" autofocus>
                    <button class="button button-small button-clear button-dark icon-right ion-navigate " id="searchbutton"></button>
                </label>
            </div>
        </div>
        <div ng-if=" (outloc.length >= 3) && (locs.length > 0) ">
        <div class="list card trans">
            <!-- <a href="#/" class="item item-icon-left item-text-wrap trans" ng-repeat="loc in locs | filter:outloc track by loc.id " > -->
            <a href="#/" class="item item-icon-left item-text-wrap trans" ng-repeat="loc in locs">
                <i class="icon ion-android-car"></i> {{loc.split("|")[0]}}
                <!-- <i class="icon ion-android-car"></i> {{loc}} -->
            </a>
        </div>
        </div>
    </ion-content>
</ion-view>
